#ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 100vw;
  z-index: 1000;
}

#ul2 {
  list-style-type: none;
  margin: 0 auto;
  margin-left: 225px;
  padding: 15px 30px;
  overflow: hidden;
  background-color: #333333;
  display: inline-block;
  border-radius: 10px;
  z-index: 1000;
}

#ul2 li a {
  color: white;
  display: block;
  padding: 8px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #990099;
  color: #000000;
}

.navbar{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18%; 
    text-align: center;
}

h1{
    text-align: center;
    color: #000000;
}

#span1{
  background-color: #990099;
  border-radius: 5px;
}

#span2{
  background-color: #333333;
  border-radius: 15px;
}
footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    
}

.bottombar{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body{
    background-color: #808080;
    margin: 0;
    padding: 0;
}

.links{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.header{
    margin-top: 10px;
    margin-left: 675px;
    font-size: 30px;
    text-decoration: underline;
}

@media screen and (max-width: 800px){
  .navbar{
    float: none;
    padding: 12px 0;
    color: white;
    text-decoration: none;
    font-size: 10px;
    width: 100%; 
    text-align: center;
  }

  ul{
    width: 100%;
  }

  h1 span{
    font-size: 20px;
    padding: 5px;
    display: inline-block;
  }

  .header{
    margin-top: 70px;
    margin-left: 400px;
    font-size: 30px;
    text-decoration: underline;
}

  .bottombar{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .links{
    margin-top: 10px;
    margin-left: -275px;
    font-size: 10px;
  }

  #ul2 {
    list-style-type: none;
    margin: 0 auto;
    margin-left: 225px;
    padding: 15px 30px;
    overflow: hidden;
    background-color: #333333;
    display: inline-block;
    border-radius: 10px;
    z-index: 1000;
  }

  #ul2 li a {
    color: white;
    font-size: 10px;
    display: block;
    padding: 8px;
  }
}
